@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

html {
    background: linear-gradient(45deg, #b721ff 0%, #21d4fd 100%) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

* {
  font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
}



.socialLinks {
  /* background-color: #ffcc5c; */
  grid-column: 3 / 4;
}

.searchBox {
  /* background-color: #880000; */
  grid-column: 6 / 8;
}

.registerSection {
  /* background-color: #ff6f69; */
  grid-column: 9 / 11;
}

/* -----------------------SecondNavBar------------------------- */

.secondNavWhole {
  z-index: 100;
  width: 100%;
  height: 700px;
}
.secondNavWhole h1 {
  color: #f8f8f8;
  font-size: 5vmax;
  margin: auto;
  line-height: 600px;
  text-align: center;
  vertical-align: middle;

}
.secondNavBar {
  position: relative;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: rgba(55,71,79, .7);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 60px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.navButtons ul {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(5, 1fr);
  list-style-type: none;
}

.navButtonsList li {
  text-align: center;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  color: #cfd8dc;
  cursor: pointer;
}

.fas {
  color: #F8F8F8;
  font-size: 50px;
  padding-top: 5px;
}

.secondNavBar .logo {
  /* background-color: #cfd8dc ; */
  grid-column: 3 / 4;
  display: flex;
  justify-content: center;
  align-content: center;
}

.secondNavBar .navButtons {
  /* background-color: #b0bec5 ; */
  grid-column: 5 / 9;
  display: flex;
  justify-content: center;
  align-content: center;
}

.secondNavBar .profile {
  /* background-color: #90a4ae; */
  grid-column: 9 / 11;
}
.secondNavBar .firstname {
  /* background-color: #90a4ae; */
  grid-column: 10 / 11;
 }
.hoverNavigationLinks {
  color: #F8F8F8 !important;

}

.sticky {
  position: fixed !important;
  top: 0;
}


/* -------------------------- FirstNavBar / SocialIcons ---------------------------------- */
.upperNavBar {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  height: 35px;
  background-color: #263238;
  z-index: 1;
}



.socialLinks {
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialIconContainer {
  display: grid;
  grid-gap: 10px;
  grid-template-columns:repeat(4, 24px);
  grid-template-rows: 20px;
  justify-content: center;
  align-items: center;
}

.socialIconContainer > i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b0bec5;
  font-size: 20px;
}

.hoverSocialLinks {
  color: #F8F8F8 !important;
}


/* ---------------------------FirstNavBar / SearchBox--------------------------------- */
.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchInput {
  outline: 0;
  border: none;
  text-decoration: none;
  height: 2.5vh;
  width: 18vw;
  border-radius: 3px;
  padding-left: 0.2vw;
  background-color: #ddeef7;
}

.searchInput:hover {
  background-color: #fcfcfc;
}


/* ---------------------------FirstNavBar / ResgisterButton--------------------------------- */

.registerSection  {
  display: flex;
  justify-content: center;
  align-items: center;
}


.registerButton {
  outline: 0;
  border: 1px solid #b0bec5;
  background-color: #263238;
  padding: 0.3vh 2vw;
  color: #b0bec5;
  border-radius: 4px;
  font-size: 13px;
  cursor: pointer;
}

.hoverRegisterButton {
  background-color: #F8F8F8 !important;
  border-color: #F8F8F8;
  color: #263238;
}

/* ---------------------------Second / ProfileSection--------------------------------- */
.profile {
  display: flex;
  justify-content: center;
  align-items: center;

}

.profile div {
  background-color: #f8f8f8;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* -------------------------------RegistrationForm----------------------------- */

.registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headingForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstLast {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.firstLast div {
  width: 48%;
}

.noChange {
  display: flex;
  flex-direction: column;
}
.noChange div {
  width: 100%;
}

.country_bday {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.country_bday div{
  width: 48%;
}

#country_bdayLeft input {
  color: #777777;
}
.gender_payment_hour {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.gender_payment_hour div {
  width: 30%;
}

#gender_payment_hour_left select {
  outline: 1;
  background: #f2f2f2;
  color: #777777;
  height: 50px;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 14px;
  border-radius: 5px;
}

#gender_payment_hour_left select > option {
  height: 50px;
  border-radius: 5px;
}
.buttonForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.firstLast input, .country_bday input{
  outline: 1;
  background: #f2f2f2;
  height: 50px;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 14px;
  border-radius: 5px;
}

.gender_payment_hour input {
  outline: 1;
  background: #f2f2f2;
  height: 50px;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 14px;
  border-radius: 5px;
}

.noChange input {
  outline: 1;
  background: #f2f2f2;
  height: 50px;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 14px;
  border-radius: 5px;
}

.regForm {
  position: absolute;
  left: 0; bottom: 0; right: 0; top: 15%;
  width: 45%;
  height: 550px;
  z-index: 1;
  background-color: white;
  margin: 0 auto 100px;
  padding: 45px;
  border-radius: 15px;
  text-align: center;
  display: none;
}

.logForm {
  position: absolute;
  left: 0; bottom: 0; right: 0; top: 15%;
  width: 20%;
  height: 300px;
  z-index: 1;
  background-color: white;
  margin: 0 auto 100px;
  padding: 45px;
  border-radius: 15px;
  text-align: center;
  display: none;
}


.logForm input{
  outline: 1;
  background: #f2f2f2;
  height: 50px;
  width: 80%;
  border: 0;
  margin: 0 0 15px;
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 14px;
  border-radius: 5px;
}


.regForm button, .logForm button {
  outline: 0;
  background-image: linear-gradient(135deg, #92fe9d 0%, #00c9ff 100%);
  width: 80%;
  border: 0;
  padding: 15px;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}
/* ----------------------------TestDIV-------------------------------- */

.ImageStyle {
  align-content: center;
  height: auto;

}
.TextStyle{
  width: 56%;
}
.figure{
    width: 10;
    height: 10;


}


.dropmenu{
    display: inline-flex;
    position:relative;
    z-index: 25;
  }

  .dropmenu button{
    border:none;
    padding:8px 16px;
    background-color: #263238;
    border: 1px solid #b0bec5;
    color:#b0bec5;
    border-radius: 4px;
    transition:.3s;
    cursor:pointer;
  }

  .dropmenu:hover button{

  }

  .dropmenu div{
    background-color:#78909c;
    box-shadow:0 4px 8px rgba(0,0,0,0.2);
    z-index:111;
    visibility:hidden;
    position:absolute;
    min-width:60%;
    opacity:0;
    transition:.3s;
  }

  .userProfile:hover div{
    visibility: visible;
    opacity:1;
  }

  .userProfile div a{
    display:block;
    text-decoration:none;
    padding:8px;
    color:#000;
    transition:.1s;
    white-space:nowrap;
  }

  .userProfile div a:hover{
    background-color:#b0bec5;
    color:#fff;
  }
  .dropbtn {
    /* background-color: #4CAF50;
    color: white; */
    /* padding: 16px; */
    /* font-size: 16px; */
    border: none;
    background: none;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    background: none;
    margin-top: 1px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #f1f1f1}

  .dropdown:hover .dropdown-content {
    display: block;
  }
/* ----------------------------Background - photo-------------------------------- */

  .secondNavWhole {
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("..\\Assets\\aboutusback2.jpg");
    }

/* ----------------------------Members Block - About us-------------------------------- */

    .membersblock{
        background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    	width: 100%;
    	height: 500px;
    }
    .ourmembers {
    	max-width: 1400px;
    	margin: 0 auto 0;
    	display: flex;
    	justify-content: space-between;
    	}
    .firstmember{
        padding: 20px;
        margin-bottom: 20px;
        flex: 1;
        margin-right: 0;
        flex-basis: 4%;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .secondmember{
    	padding: 20px;
    	margin-bottom: 20px;
    	flex: 1;
    	margin-right: 0;
    	box-sizing: content-box;
    	flex-direction: column;
    	text-align: center;
    	justify-content: center;

    }
    .thirdmemmber{
    	padding: 20px;
    	margin-bottom: 20px;
    	flex: 1;
    	margin-right: 0;
    	box-sizing: border-box;
    	flex-basis: 0%;
    	flex-direction: column;
    	text-align: center;
    	justify-content: center;
    	}

    .ourteammesage{

    	font-size: 30px;
    	color: #212121;
    	padding-top: 1px;
    	}
    .team_name{
    	font-size: 150%;
    	color: #212121;
    	text-align: center;

    }
    .team_title{
    	text-align: center;
    	font-size: 150%;
    	color: #212121;
        }
/* ----------------------------Quote Section-------------------------------- */

.QuoteSection{
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    	width: 100%;
    	height: 500px;
        display: flex;

}
.PhotoPlane{
    padding-top: 100px;
    flex: 30%;
}
.QuoteContent{
    flex: 1;
    flex: 70%;
    display:inline-grid;
    place-items: start center;

}
.OurSlogan{
    display: grid;
    place-items: start center;
    padding-top: 70px;
    font-size: 40px;
    font-family:inherit;
    font-weight: bold;
    color: linear-gradient(to right, #434343 0%, black 100%);
}
.Qoute {
    padding-bottom: 150px;
    width: 700px;
    height: 150px;
    font-size: 20px;
    color: linear-gradient(to right, #434343 0%, black 100%);

}
