
/* --------------------------------------FOOTER -------------------------------------------------------*/
.footer {
    height: 100%;
    height: 200px;
    background-color: #00c9ff;
    display: flex;
    flex-direction: column;
  }

  /* --------------------------------------------------------------------------------------------------------- */

  .footerUp {
    width: 100%;
    flex-basis: 80%;
    background-color: #37474f;
    display: flex;
    color: #fff;
  }

  .footerLogo {
    /* background-color: #424d53; */
    flex-basis: 16%;
  }

  /* -------------------------  */

  .info {
    /* background-color: #51585c; */
    flex-basis: 28%;
    display: flex;
    flex-direction: column;
  }

  .info div:nth-child(1) {
    flex-basis: 40%;
    font-size: 1.5vw;
    font-size: 18px;
  }

  .info div {
    flex-basis: 15%;
    display: flex;
    align-items: center;
    padding-left: 3vw;
    font-size: 13px;
    cursor: pointer;
  }
  .info div i {
    margin: 0;
    padding: 0;
  }

  .fa-map-marker-alt, .fa-mobile, .fa-envelope {
    font-size: 18px;
  }

  .spanT {
    width: 0.8vw;
  }
  /* -------------------------  */

  .account {
    /* background-color: #616161; */
    flex-basis: 28%;
    display: flex;
    flex-direction: column;
  }

  .account div:nth-child(1) {
    flex-basis: 40%;
    font-size: 1.5vw;
    font-size: 18px;
  }

  .account div {
    flex-basis: 15%;
    display: flex;
    align-items: center;
    padding-left: 3vw;
    font-size: 13px;
    cursor: pointer;
  }

  /* -------------------------  */

  /* .resource {
    background-color: #888888;
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
  }
  .resource div:nth-child(1) {
    flex-basis: 40%;
    font-size: 1.5vw;
  }

  .resource div {
    flex-basis: 15%;
    display: flex;
    align-items: center;
    padding-left: 3vw;
  } */

  /* -------------------------  */
  .support {
    /* background-color: #d6d6d6; */
    flex-basis: 28%;
    display: flex;
    flex-direction: column;

  }

  .support div:nth-child(1) {
    flex-basis: 40%;
    font-size: 1.5vw;
    font-size: 18px;
  }
  .support  div {
    flex-basis: 15%;
    display: flex;
    align-items: center;
    padding-left: 3vw;
    font-size: 13px;
    cursor: pointer;
  }



  .footerDown {
    flex-basis: 20%;
    width: 100%;
    background-color: rgb(206, 218, 224) ;
    display: flex;
    color: #37474f;
  }

  .fLeftSide {
    /* background-color: #00c9ff; */
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #37474f;
  }

  .fLeftSide div {
    font-size: 1.3vh;
  }


  .fRightSide {
    /* background-color: #43e97b; */
    flex-basis: 50%;
    display: flex;
    align-items: center;
  }

  .fSocialLinkContainer {
    /* background-color: #F8F8F8; */
    width: 15%;
    height: 100%;
    display: flex;
    margin-left: 23vw;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
  }

  .fSocialLinkContainer i {
    margin: 0;
    padding: 0;
    font-size: 20px;
  }
