.load {
    animation: slide 4s;
    animation: 3s linear;
}

.secondNavWhole {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: slide 20s infinite;
}

@keyframes slide {
    0% {
        background-image: url("..\\Assets\\8.jpg");
    }
    25% {
        background-image: url("..\\Assets\\3.jpg");
    }
    50% {
        background-image: url("..\\Assets\\4.jpg");
    }
    75% {
        background-image: url("..\\Assets\\23.jpg");
    }
    100% {
        background-image: url("..\\Assets\\9.jpg");
    }
}


/* slider{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

slider > * {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    animation: slide 12s infinite;
    overflow: hidden;
}


slide:nth-child(1) {
    left: 0%;
    animation-delay: -1s;
    background-image: url("Assets\\8.jpg");
    background-size: cover;
    background-position: center;
}

slide:nth-child(2) {
    animation-delay: 2s;
    background-image: url("Assets\\3.jpg");
    background-size: cover;
    background-position: center;
}

slide:nth-child(3) {
    animation-delay: 5s;
    background-image: url("Assets\\4.jpg");
    background-size: cover;
    background-position: center;
}

slide:nth-child(4) {
    left: 0%;
    animation-delay: 8s;
    background-image: url("Assets\\9.jpg");
    background-size: cover;
    background-position: center;
}


@keyframes slide {
    0% {
        left: 100%;
        width: 100%;
    }

    5% {
        left: 0%;
    }
    25% {
        left: 0%;
    }
    30% {
        left: -100%;
        width: 100%;
    }
    30.0001% {
        left: -100%;
        width: 0%;
    }

    100% {
        left: 100%;
        width: 0%;
    }
} */
