@import url(https://fonts.googleapis.com/css?family=Roboto);

html {
    background: linear-gradient(45deg, #b721ff 0%, #21d4fd 100%) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

* {
  font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
}



.socialLinks {
  /* background-color: #ffcc5c; */
  grid-column: 3 / 4;
}

.searchBox {
  /* background-color: #880000; */
  grid-column: 6 / 8;
}

.registerSection {
  /* background-color: #ff6f69; */
  grid-column: 9 / 11;
}

/* -----------------------SecondNavBar------------------------- */

.secondNavWhole {
  z-index: 1000;
  width: 100%;
  height: 90%;
}
.secondNavWhole h1 {
  color: #f8f8f8;
  font-size: 5vmax;
  margin: auto;
  line-height: 600px;
  text-align: center;
  vertical-align: middle;

}
.secondNavBar {
  position: relative;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: rgba(55,71,79, .7);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 60px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.navButtons ul {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(5, 1fr);
  list-style-type: none;
}

.navButtonsList li {
  text-align: center;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  color: #cfd8dc;
}

.fas {
  color: #F8F8F8;
  font-size: 50px;
  padding-top: 5px;
}

.secondNavBar .logo {
  /* background-color: #cfd8dc ; */
  grid-column: 3 / 4;
  display: flex;
  justify-content: center;
  align-content: center;
}

.secondNavBar .navButtons {
  /* background-color: #b0bec5 ; */
  grid-column: 5 / 9;
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}

.secondNavBar .profile {
  /* background-color: #90a4ae; */
  grid-column: 9 / 11;
}

.hoverNavigationLinks {
  color: #F8F8F8 !important;

}

.sticky {
  position: fixed !important;
  top: 0;
}


/* -------------------------- FirstNavBar / SocialIcons ---------------------------------- */
.upperNavBar {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  height: 35px;
  background-color: #263238;
  z-index: 1000;
}



.socialLinks {
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialIconContainer {
  display: grid;
  grid-gap: 10px;
  grid-template-columns:repeat(4, 24px);
  grid-template-rows: 20px;
  justify-content: center;
  align-items: center;
}

.socialIconContainer > i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b0bec5;
  font-size: 20px;
}

.hoverSocialLinks {
  color: #F8F8F8 !important;
}


/* ---------------------------FirstNavBar / SearchBox--------------------------------- */
.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchInput {
  outline: 0;
  border: none;
  text-decoration: none;
  height: 2.5vh;
  width: 18vw;
  border-radius: 3px;
  padding-left: 0.2vw;
  background-color: #ddeef7;
}

.searchInput:hover {
  background-color: #fcfcfc;
}


/* ---------------------------FirstNavBar / ResgisterButton--------------------------------- */

.registerSection  {
  display: flex;
  justify-content: center;
  align-items: center;
}


.registerButton {
  outline: 0;
  border: 1px solid #b0bec5;
  background-color: #263238;
  padding: 0.3vh 2vw;
  color: #b0bec5;
  border-radius: 4px;
  font-size: 13px;
  cursor: pointer;
}

.hoverRegisterButton {
  background-color: #F8F8F8 !important;
  border-color: #F8F8F8;
  color: #263238;
}

/* ---------------------------Second / ProfileSection--------------------------------- */

/* -------------------------------RegistrationForm----------------------------- */

.registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headingForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstLast {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.firstLast div {
  width: 48%;
}

.noChange {
  display: flex;
  flex-direction: column;
}
.noChange div {
  width: 100%;
}

.country_bday {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.country_bday div{
  width: 48%;
}

#country_bdayLeft input {
  color: #777777;
}

#country_bdayRight select {
  width: 100%;
  height: 50px;
  color: #777777;
  border: 0;
  margin: 0 0 15px;
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 14px;
  border-radius: 5px;
  outline: 1;
  background: #f2f2f2;
}

.gender_payment_hour {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.gender_payment_hour div {
  width: 30%;
}

#gender_payment_hour_left select {
  outline: 1;
  background: #f2f2f2;
  color: #777777;
  height: 50px;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 14px;
  border-radius: 5px;
}

#gender_payment_hour_left select > option {
  height: 50px;
  border-radius: 5px;
}
.buttonForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.firstLast input, .country_bday input{
  outline: 1;
  background: #f2f2f2;
  height: 50px;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 14px;
  border-radius: 5px;
}

.gender_payment_hour input {
  outline: 1;
  background: #f2f2f2;
  height: 50px;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 14px;
  border-radius: 5px;
}

.noChange input {
  outline: 1;
  background: #f2f2f2;
  height: 50px;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 14px;
  border-radius: 5px;
}

.regForm {
  position: absolute;
  left: 0; bottom: 0; right: 0; top: 15%;
  width: 45%;
  height: 550px;
  z-index: 1;
  background-color: white;
  margin: 0 auto 100px;
  padding: 45px;
  border-radius: 15px;
  text-align: center;
  display: none;
}

.logForm {
  position: absolute;
  left: 0; bottom: 0; right: 0; top: 15%;
  width: 20%;
  height: 300px;
  z-index: 1;
  background-color: white;
  margin: 0 auto 100px;
  padding: 45px;
  border-radius: 15px;
  text-align: center;
  display: none;
}


.logForm input{
  outline: 1;
  background: #f2f2f2;
  height: 50px;
  width: 80%;
  border: 0;
  margin: 0 0 15px;
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 14px;
  border-radius: 5px;
}


.regForm button, .logForm button {
  outline: 0;
  background-image: linear-gradient(135deg, #92fe9d 0%, #00c9ff 100%);
  width: 80%;
  border: 0;
  padding: 15px;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}
/* ----------------------------Search Button-------------------------------- */



.buscar-caja {
 position: absolute;
 top: 530px;
 left: 50%;
 transform: translate(-50%, -50%);
 background: #FAFAFA;
 height: 40px;
 border-radius: 40px;
 padding: 15px;
}

.buscar-caja:hover > .buscar-txt {
 width: 240px;
 padding: 0 6px;
}

.buscar-caja:hover > .buscar-btn {
 background: white;
 background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply;;
}

.buscar-btn {
 color: #e84118;
 float: right;
 width: 40px;
 height: 40px;
 border-radius: 50%;
 background: #616161;
 display: flex;
 justify-content: center;
 align-items: center;
 transition: 0.4s;
 color: white;
 cursor: pointer;
}

.buscar-btn > i {
 font-size: 30px;
}

.buscar-txt {
 border: none;
 background: none;
 outline: none;
 float: left;
 padding: 0;
 color: #212121;
 font-size: 16px;
 transition: 0.4s;
 line-height: 40px;
 width: 0px;
 font-weight: bold;
}﻿
