.randomGuiders {
    width: 100%;
    height: 400px;
    background-color: azure;
    border-radius: 10px;
}

.randomGuiderHeader {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 20%;

}

.randomGuiderHeader h2 {
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    padding: 10px 30px;
    margin: 5px;
    border-radius: 10px;
    color: azure;
    font-size: 2vw;
}

.randomGuiderCon {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 80%;
    background-color: rgb(225, 241, 241);
    border-radius: 10px;
}