.frameClassSelf {
    background-color: rgb(246, 251, 255);

    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.regClassForm {
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 90%;
    /* padding: 5px; */
    justify-content: space-between;

}
/* --------------------------------------------------- LEFT --------------------------------------------------- */


/* --------------------------------------------------- RIGHT   --------------------------------------------------- */
.rightSide {
    background-color: rgb(227, 240, 246);
    /* background-color: black; */
    flex-basis: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.rightSide div {
    width: 100%;
}
/* ---------------------------------------------------  */

.headingFlexBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 10%;

}
.headingFlexBox h1 {
    font-size: 2.8vw;

}
