@import url(https://fonts.googleapis.com/css?family=Roboto);


.accountPopUp {
    z-index: 100;
    position: absolute;
    background-color: #78909c;
    width: 150px;
    height: 90px;
    color: #cfd8dc ;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.accountPopUp div {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.accountPopUp div:hover {
    color: white;
}
