.frameClassSelf {
    background-color: rgb(246, 251, 255);
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.regClassForm {
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 90%;
    /* padding: 5px; */
    justify-content: space-between;
}
/* --------------------------------------------------- LEFT --------------------------------------------------- */
.leftSide {
    background-color: rgb(227, 240, 246);

    display: flex;
    flex-basis: 18%;
    flex-direction: column;
    border-radius: 10px;
}

.proImg {
    /* background-color: gray; */
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgSelfSection {
    background-color: #546e7a;
    width: 150px;
    height: 150px;
    border-radius: 150px;
}

.upImg {
    /* background-color: rgb(204, 204, 204); */
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upImg button {
    width: 70%;
    height: 50%;
    border-radius: 5px;
    border: none;
    font-size: 1vw;
    /* background-color: #546e7a; */
    /* background-image: linear-gradient(60deg, #4facfe 0%, #00f2fe 100%); */
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    color: #f8f8f8;
}
.emptySpace {
    /* background-color: rgb(214, 214, 214); */
    flex-basis: 60%;
}

/* --------------------------------------------------- RIGHT   --------------------------------------------------- */
.rightSide {
    background-color: rgb(227, 240, 246);
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.rightSide div {
    width: 100%;
}
/* ---------------------------------------------------  */

.headingFlexBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 10%;
}
.headingFlexBox h1 {
    font-size: 2.8vw;

}

/* ---------------------------------------------------  */

.firstLastRow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 15%
}

.firstLastRow div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;;
}

.firstLastRow div input {
    background-color: rgb(246, 251, 255);
    width: 80%;
    height: 80% ;
    border-radius: 5px;
    padding-left: 5px;
    border: none;
}


/* ---------------------------------------------------  */

.noChangeAtAll {
    display: flex;
    flex-basis: 25%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.noChangeAtAll div {
    width: 100%;
    height: 30%;
}

.noChangeTop_ {
    display: flex;
    justify-content: center;
    align-items: center;
}

.noChangeMiddle_ {
    display: flex;
    justify-content: center;
    align-items: center;
}

.noChangeBottom_ {
    display: flex;
    justify-content: center;
    align-items: center;
}

.noCH_ input{
    background-color: rgb(246, 251, 255);
    width: 90%;
    height: 70%;
    border: none;
    padding-left: 5px;
    border-radius: 5px;
}

/* ---------------------------------------------------  */

.country_bday_ {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 15%
}

.country_bday_ div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;;
}

.country_bday_ div input {
    background-color: rgb(246, 251, 255);
    width: 80%;
    height: 80% ;
    border-radius: 5px;
    padding-left: 5px;
    border: none;
}


/* ---------------------------------------------------  */

.gender_payment_hour_new {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 15%;
}

.gender_payment_hour_new div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
}
.gender_payment_hour_new div input{
    background-color: rgb(246, 251, 255);
    width: 80%;
    height: 80% ;
    border-radius: 5px;
    padding-left: 5px;
    border: none;
}
.gender_payment_hour_new div select {
    background-color: rgb(246, 251, 255);
    width: 80%;
    height: 80% ;
    border-radius: 5px;
    padding-left: 5px;
    border: none;
}
.country_bdayRightSide div input{
    background-color: rgb(246, 251, 255);
    width: 80%;
    height: 80% ;
    border-radius: 5px;
    padding-left: 5px;
    border: none;
}

.country_bdayRightSide select{
    background-color: rgb(246, 251, 255);
    width: 80%;
    height: 80% ;
    border-radius: 5px;
    padding-left: 5px;
    border: none;

}

/* ---------------------------------------------------  */

.buttonFormSectionAllNew {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 10%;
}

.buttonFormSectionAllNew button {
    /* background-image: linear-gradient(60deg, #4facfe 0%, #00f2fe 100%); */
    background-image: linear-gradient(45deg, #89f7fe 0%, #66a6ff 100%);
    color: #f8f8f8;
    font-size: 1.2vw;
    border-radius: 5px;
    height: 50%;
    width: 40%;
    border: none;
}

.sendbutton button {
    margin-left: 175px;
    outline: 0;
    width: 30%;
    font-size: 1.3vw;
    border: 0;
    padding: 9px;
    color: #fff;
    border-radius: 8px;
    /* background-image: linear-gradient(60deg, #43e97b 0%, #38f9d7 100%); */
    background-image: linear-gradient(-225deg, #B7F8DB 0%, #50A7C2 100%);
    cursor: pointer;
}



.addcomment textarea {
    height: 40px;
    width: 80%;
    background-color: white;
    margin-bottom: 4px;
    outline: 0;
    border: 0;
    border-radius: 8px;
    resize: none;
    background-color: #fff;
}
