.sendRequest {
    position: fixed;
    left: 0; right: 0; bottom: 0; top: 0;
    margin: auto;
    z-index: 1;

    background-color: rgb(255, 255, 255);
    width: 350px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    display: none;
}

.requestHolder {
    position: relative;
    left: 0; bottom: 0; right: 0; top: 2%;
    margin: auto;
    width: 95%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.requestHolderUp {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.requestHolderUp h4 {
    margin: 0;
    padding: 0;
}

.requstHolderMiddle {
    height: 75%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.personalMessage {
    resize: none;
    width: 100%;
    height: 95%;
    border-radius: 5px;
    border: 1px dashed rgb(192, 192, 192);
    padding-left: 5px;
    background-color: rgb(245, 245, 250);
}

.requestHolderDown {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}




.requestHolderDown input {
    color: #F5F5F5;
    border-radius: 5px;
    border: none;
    height: 50%;
    width: 45%;
    font-size: 0.8vw;
}

.requestHolderDown .confirm {
    background-color: #66BB6A;
}

.requestHolderDown .deny {
    background-color: #ef5350;
} 