.searchDiv {
    margin-top: 60px;
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

.mainSeachContainer {
    background-color: azure;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.mainSearchUp {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-bottom: 2px dashed rgb(110, 119, 126);
    color: #455A64;
}

.mainSearchUp h3 {
    padding: 0;
    margin: 0;
}

.mainSearchDown  {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    color: #455A64;
}

.guiderHolder, .tripHolder  {
    background-color: rgb(227, 243, 250);
    /* background-color:  rgb(246, 246, 246); */
    width: 45%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}


.guiderHolderUp, .tripHolderUp {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.guiderHolderDown, .tripHolderDown  {
    height: 90%;
    width: 100%;
    display: grid;
    padding-left: 50px;
    grid-template-columns: repeat(4, minmax(120px, 1fr));
    grid-auto-rows: 180px;
    grid-template-rows: repeat(3, 100px) ;
    grid-gap: 5px;
}

/* -------------------------------------------- Guider Profile-------------------------------------------- */

.guiderProfile {
    /* background-image: linear-gradient(to top, #243949 0%, #517fa4 100%); */
    background-color: rgb(255, 255, 255);
    width: 120px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    grid-row: span 2;
    border: 0.02em dashed #90A4AE;
    box-shadow:  rgba(36, 37, 38, 0.08) 0px 6px 15px 0px;
    box-sizing: border-box;
}


.guiderProfile h5 {
    padding: 0;
    margin: 0;
    font-size: 0.9vw;
}

.guiderProfile h6 {
    padding: 0;
    margin: 0;
    font-size: 0.7vw;
}

#guiderProfileImg {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#guiderProfileImg div {
    height: 60px;
    width: 60px;
    border-radius: 60px;
    background-color: rgb(248, 248, 248);
}


#guiderFullName {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #37474F;
}

#guiderPosition {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    color: #37474F;
}




/* -------------------------------------------- Tripper Profile-------------------------------------------- */

.tripperProfile {
    background-color: rgb(255, 255, 255);
    width: 140px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    grid-row: span 2;
    border: 0.02em dashed #90A4AE;
    box-shadow:  rgba(36, 37, 38, 0.08) 0px 6px 15px 0px;
    box-sizing: border-box;
}



.tripperProfile h5, .tripperProfile h6  {
    padding: 0;
    margin: 0;

}


#tripperProfileImg {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tripperProfileImg div {
    height: 60px;
    width: 60px;
    border-radius: 60px;
    background-color: rgb(248, 248, 248);
}

#tripperDate {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    color: #37474F;
    font-size: 0.9vw;
}

#tripperFullName, #tripperPosition {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #37474F;
}

#tripperFullName {
    font-size: 1vw;
}

#tripperPosition {
    font-size: 0.9vw;
}

/* ------------------------------------------------------------- */


.notbold {
    font-weight:normal;
}

.tripperProfile:hover {
    background-color: rgb(250, 250, 250);
}

.guiderProfile:hover {
    background-color: rgb(250, 250, 250);
}